@{
    ViewData["Title"] = "Registration Confirmation";
}

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow">
            <div class="card-header">
                <h4 class="mb-0">Check Your Email</h4>
            </div>
            <div class="card-body text-center">
                <div class="mb-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="text-primary" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                </div>
                <h5>Verify Your Email Address</h5>
                <p class="text-muted">
                    We've sent a verification link to your email address. Please click the link to activate your account.
                </p>
                <p class="text-muted small">
                    The link will expire in 24 hours. If you don't see the email, check your spam folder.
                </p>
                <hr />
                <p class="mb-0">
                    <a asp-action="Login" class="link-primary">Return to Login</a>
                </p>
            </div>
        </div>
    </div>
</div>
